@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: hsl(0, 0%, 6%);
  --background: hsl(240, 12%, 97%);
  --primary: hsl(230, 47%, 32%);
  --secondary: hsl(36, 84%, 53%);
  --accent: hsl(6, 74%, 41%);
}
@media (prefers-color-scheme: dark) {
  :root {
  --text: hsl(0, 0%, 94%);
  --background: hsl(240, 13%, 3%);
  --primary: hsl(230, 47%, 68%);
  --secondary: hsl(36, 84%, 47%);
  --accent: hsl(6, 74%, 59%);
  }
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
